* {
    box-sizing: border-box;
}

:root {
    --primary-color-black: #152427;
    --primary-color-black-green: #143C3C;
    --text-color-light-gray: #7D8188;
    --text-color-black-gray: #575D5E;
    --scondery-color-light-green: #E2EDDF;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}

/* Common */

.container {
    margin: 0 130px;
}

.heading-1 {
    color: var(--primary-color-black, #152427);
    font-family: 'Public Sans', sans-serif;
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
}

.heading-2 {
    color: var(--primary-color-black, #152427);
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.238;
}

.heading__desc {
    display: flex;
    align-items: center;
    color: var(--primary-color-black, #152427);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.125;
}

.heading__desc::before {
    margin-right: 21px;
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background: var(--primary-color-black, #152427);
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 14px 54px;
    min-width: 175px;
    border-radius: 44px;
    color: #FFF;
    text-align: center;
    /* Paragraph/h2 18px medium */
    font-family: 'Public Sans', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
    background-color: var(--primary-color-black-green, #143C3C);
}

.control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: var(--scondery-color-light-green, #E2EDDF);
}

.control-btn:hover {
    background-color: var(--primary-color-black-green, #143C3C);
}

.control-btn:hover path {
    stroke: white;
}

/* ==================== Header ======================= */

.header {
    padding-top: 28px;
}

.header-top {
    display: flex;
    align-items: center;
    position: relative;
}

.header-top::after {
    position: absolute;
    bottom: -13px;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background: linear-gradient(18deg, #FFF 0%, #DDDCDC 51.25%, rgba(212, 212, 212, 0.00) 100%);

}

.navbar {
    margin-left: auto;
    margin-right: 70px;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.navbar__list .navbar-item {
    position: relative;
    margin-left: 20px;
}

.navbar__list .navbar-item a {
    padding: 18px;
    color: var(--text-color-black-gray, #575D5E);
    /* Paragraph/h2 18px medium */
    font-family: 'Public Sans', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.navbar__list .navbar-item a:hover {
    color: var(--primary-color-black, #152427);
}

.navbar-item__active::after {
    position: absolute;
    left: 18px;
    bottom: -27px;
    content: "";
    display: inline-block;
    width: 16px;
    height: 2px;
    background: var(--primary-color-black-green, #143C3C);
    z-index: 99;
}

/* ================ Hero ==================== */

.hero {
    padding-top: 74px;
    padding-right: 30px;
    height: calc(100vh - 98px);
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__content__inner {
    max-width: 380px;
}

.hero__content__inner .hero__desc {
    margin-top: 20px;
    margin-bottom: 42px;
    color: var(--text-color-black-gray, #575D5E);
    /* Paragraph/h2 18px medium */
    font-family: 'Public Sans', sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.56;
}

.hero .actions {
    display: flex;
    align-items: center;
}

.hero-cta {
    padding: 14px 36px;
    margin-right: 36px;
}

.hero__watch-video {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.hero__watch-video__img {
    display: flex;
    align-items: center;
}

.hero__watch-video__elipse {
    display: flex;
    align-items: center;
}

.hero__watch-video__icon {
    margin-left: -22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    min-width: 44px;
    min-height: 44px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #83A17D;
}

.hero__watch-video__text {
    color: #152427;
    text-align: center;
    /* Paragraph/h3 18px bold */
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.67;
}

.hero__images {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    min-width: 500px;
    width: 666px;
    height: 466px;
}

.hero__image {
    width: 100%;
    height: 100%;
    border-radius: 999px;
    object-fit: cover;
}

.hero__image-transform {
    transform: translateY(77px);
}

.hero__background-blur {
    position: absolute;
    top: 122px;
    right: calc(50% - 170px);
    width: 340px;
    height: 340px;
    border-radius: 340px;
    background: #4DBB9A;
    filter: blur(137px);
}

/* Decorate hero */

.hero__top-decorate {
    position: absolute;
    top: -32px;
    right: 50%;
    z-index: 99;
}

.hero__top-decorate__extra-avstract {
    position: absolute;
    top: 2px;
    left: -46px;
}

.hero__bottom-decorate {
    position: absolute;
    bottom: -30%;
    left: 31px;
    z-index: 99;
}

.hero__bottom-decorate__extra-avstract {
    position: absolute;
    bottom: 28px;
    right: -42px;
}


/* ================= Partner =================== */

.partner__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 42px 0;
    padding: 75px 0;
    border-radius: 999px;
    background: var(--scondery-color-light-green, #E2EDDF);
}

.partner-item__discord {
    display: flex;
    align-items: center;
}

.partner-item__discord .discord__text {
    margin-left: 11px;
    color: #163C35;
    font-size: 2.6rem;
    font-weight: 400;
    line-height: 1.5;
}

/* ==================== Service =================== */

.service {
    margin-top: 64px;
    margin-bottom: 150px;
}

.service__row {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.service__heading {
    max-width: 520px;
    text-align: left;
}

.service__control {
    display: flex;
    gap: 17px;
    margin-top: 30px;
    margin-right: 70px;
}

.service__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin-top: 76px;
    width: 100%;
}

.service-item {
    border-radius: 20px;
}

.service-item:hover {
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service-item__image {
    width: 100%;
}

.service-item__image__img {
    width: 100%;
    height: 318px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.service-item__content {
    padding: 24px 0px;
    transition: 0.25s;
}

.service-item:hover .service-item__content {
    padding-left: 18px;
    transition: 0.25s;
}

.service-item__heading {
    margin-bottom: 18px;
}

.service-item__heading a {
    color: var(--primary-color-black, #152427);
    /* Heading/h1 22px semibold */
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.service-item__desc {
    max-width: 268px;
    color: var(--text-color-light-gray, #7D8188);
    /* Paragraph/h6 14px medium */
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.714;
}

/* ================= About =============== */

.about {
    margin-bottom: 79px;
    padding-bottom: 77px;
}

.about__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.about__column {
    position: relative;
    margin-top: 13px;
}

.about__decorate {
    position: absolute;
    z-index: 999;
}

.about__decorate .about-extra-avstract {
    position: absolute;
    top: -30px;
    left: 46px;
    z-index: 99;
}

.about__decorate .about-decorate-line {
    position: absolute;
    top: 0;
    left: 80px;
}

.about__images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    min-width: 500px;
    max-width: 590px;
}

.about__images .about__image {
    width: 100%;
    height: 480px;
    border-radius: 999px;
    object-fit: cover;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about__images .about__image-transform {
    transform: translateY(90px);
}

.about__designer {
    position: absolute;
    bottom: -69px;
    right: -9px;
    padding: 19px 23px 11px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
    z-index: 999;
}

.about__designer .designer__heading {
    margin-bottom: 8px;
    color: var(--primary-color-black, #152427);
    font-family: 'Public Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.about__designer .designer__desc {
    margin-bottom: 10px;
    color: var(--text-color-black-gray, #575D5E);
    font-family: 'Public Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
}

.about__designer .designer__percen-value {
    margin-bottom: 3px;
    display: block;
    color: var(--primary-color-black, #152427);
    font-family: 'Public Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.about__designer .designer__percen-line {
    width: 96px;
    height: 2px;
    border-radius: 10px;
    background: #EAEAEA;
}

.about__designer .designer__percen-line__value {
    width: 40%;
    height: 100%;
    border-radius: 10px;
    background: #83A17D;
}

.about__designer .designer__status {
    display: block;
    margin: 3px 0;
    text-align: right;
    color: var(--primary-color-black, #152427);
    font-family: 'Public Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.about__designer .designer__status-icon {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 3px solid #EAEAEA;
    background-color: var(--primary-color-black-green, #143C3C);
}

.about__designer .designer__team {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

.about__designer .designer__team-text {
    color: var(--primary-color-black, #152427);
    font-family: 'Public Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.about__designer .designer__team__list {
    display: flex;
}

.about__designer .designer__team__item {
    margin-left: -6px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #fff;
}

.about__designer .designer__team__item__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.about__content {
    margin-left: 64px;
    max-width: 478px;
}

.about__heading {
    margin-top: 20px;
    margin-bottom: 11px;
}

.about__desc {
    margin-bottom: 36px;
    color: var(--text-color-light-gray, #7D8188);
    /* Paragraph/h4 16px medium */
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.625;
}

.about__list .about-item {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 58px;
}

.about__list .about-item::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #83A17D;
}

.about__list .about-item__percen-value {
    margin-right: 24px;
    color: var(--primary-color-black, #152427);
    /* Heading/H3 42px bold */
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.238;
}

.about__list .about-item__desc {
    color: var(--text-color-light-gray, #7D8188);
    /* Paragraph/h6 14px medium */
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.714;
}

/* ============ Process ================= */

.process {
    margin-bottom: 148px;
}

.process__heading {
    margin-top: 20px;
    margin-bottom: 81px;
    max-width: 477px;
}

.process__list .process-item {
    display: flex;
    align-items: center;
    padding-top: 57px;
    padding-left: 30px;
    padding-right: 41px;
    padding-bottom: 57px;
    width: 100%;
    border-radius: 33px;
}

.process__list .process-item:hover {
    background-color: var(--scondery-color-light-green, #E2EDDF);
}

.process__list .process-item:hover .process__learn-more {
    visibility: visible;
}

.process__numerical-order {
    display: inline-block;
    margin-right: 50px;
    color: var(--primary-color-black-green, #143C3C);
    /* Heading/H1 72px bold */
    font-size: 7.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 0.722222222222;
}

.process-item__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.process-item__heading-box {
    position: relative;
}

.process__learn-more {
    position: absolute;
    bottom: -35px;
    left: 0;
    color: var(--text-color-black-gray, #575D5E);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
    visibility: hidden;
}

.process__learn-more:hover {
    text-decoration: underline;
}

.process-item__heading {
    color: var(--primary-color-black, #152427);
    /* Heading/h1 22px semibold */
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.process-item__desc {
    margin-left: auto;
    max-width: 572px;
    color: var(--text-color-light-gray, #7D8188);
    /* Paragraph/h2 18px medium */
    font-family: 'Public Sans', sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.56;
}